<%= render  "shared/errors", obj: @user if  is_logged_in?%>
<h1>Members</h1>
<div class="list-group">
    <% @users.each do |user| %>
    <%= link_to  user.username, user_path(user), class: "list-group-item list-group-item-action" %>
    <% end %>
</div>